.App {
  background: lightcyan;
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .card {
      width: 500px;
      background: goldenrod;
      .card-img {
        display: flex;
        justify-content: center;
        background: lightcyan;
      }
    }
  }
  
}